@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  @apply z-0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
span,
input,
textarea,
div,
li,
strong,
b,
br,
i,
label,
article,
address,
sub,
sup,
p {
  @apply font-bold italic text-main;

  &::selection {
    @apply bg-main text-white;
  }
}

strong {
  @apply font-semibold;
}

img,
svg {
  &::selection {
    @apply bg-opacity-75; // bg-color
  }
}

div#__next {
  @media (min-width: 1190px) {
    @apply grid justify-items-center;
  }
}

main {
  @apply grid justify-items-center items-center p-6 h-full bg-no-repeat bg-center relative bg-cover;
  background-image: url('../../public/img/Background.jpg');
  min-height: 913px;
  padding-bottom: 98px;
  max-width: 1190px;

  @media (min-width: 1010px) {
    background-size: 1190px auto;
  }

  @media (min-width: 1190px) {
    width: 1190px;
  }
}