.title {
  @apply text-center text-xl w-full bg-white rounded-md p-3;
  max-width: 498px;
  margin-bottom: 40.5px;
}

.btnBox {
  @apply grid justify-items-center gap-4 m-4 mb-0 z-10;
}

.startP {
  @apply absolute top-4 left-10 text-lg;
}

.introBox {
  @apply relative my-4;
}

.left-right-box {
  @apply grid gap-3 bg-white rounded-2xl px-3 py-4 mt-10;
}

.booksContainer {
  @apply left-right-box;

  @media (min-width: 1010px) {
    @apply absolute left-5 bottom-72;

    &::before {
      @apply content-[''] bg-no-repeat bg-cover absolute left-4 -top-34 z-10;
      background-image: url(../../public/img/arrow-book.svg);
      transform: rotateZ(-15deg);
      height: 124px;
      width: 113px;
    }
  }
}

.systemPoints {
  @apply left-right-box border-2 border-red shadow-red shadow-md;
  max-width: 345px;

  @media (min-width: 1010px) {
    @apply absolute left-5 top-40 mt-0;
  }

  & li {
    @apply not-italic text-sm font-normal my-2 list-decimal;
  }

  & ol {
    @apply ml-4;
  }
}

.kwżPresentations {
  @apply left-right-box;
  max-width: 225px;

  @media (min-width: 1010px) {
    @apply absolute top-24 right-5 mb-24;
  }
}

.line {
  @apply mt-8 mb-16 w-full bg-white;
  max-width: 1190px;
  height: 12px;

  @media (min-width: 1190px) {
    width: 1190px;
    max-width: none;
  }
}